@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body{
	font-family: 'Quicksand', sans-serif;
}

.input-group-text, .form-control{
	background-color:#191A1A;	
	color:white;
}

.bg-cinza{
	background-color:#191A1A;	
}

.mapdiv path {
    fill: #191A1A;
    stroke: #858893;
    transition: fill 0.3s;
}

.mapdiv :hover {
    fill: rgb(156, 223, 79);
}

.card-title{
	font-size: 16px;
	color:#bdbdbd;
}

.card-text{
	font-size: 18px;
}

.card-text-menor{
	font-size: 14px;
	position:relative;
	top:-6px;
}

.card{
	height:87px;
	padding-right:0px;
}

@media(max-width: 375px){
	#svgMapa {
   	 	height:450px !important;
	}
	
	footer{
		position:relative !important;
	}
}

@media(min-width: 375px) and (max-width: 767.98px){
	#svgMapa {
   	 	height:450px !important;
   	 	margin-top:50px;
   	 	margin-bottom:20px;
	}
	
	footer{
		position:relative !important;
	}
}

@media(max-width: 576px){
	.card-title{
		font-size: 15px;
		color:#bdbdbd;
	}
}


@media(min-width: 768px) and (max-width: 991.98px){
	#svgMapa {
   	 	height:380px !important;
   	 	margin-bottom:20px;
   	 	margin-top:10px;
	}
	
	footer{
		position:relative !important;
	}
}

.highcharts-figure, .highcharts-data-table table {
  min-width: 310px; 
  max-width: 800px;
  margin: 0.5em auto;
}

.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid white;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
	backgroud: white;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #ffffff;
}

.highcharts-data-table th {
	font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  padding: 0.5em;
  background: white;
}

.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8 !important;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

.highcharts-background{
	fill: #191A1A;
}

.highcharts-title, .highcharts-subtitle, .highcharts-axis-title{
	fill: white !important;
}

.highcharts-a11y-proxy-button{
	fill: white !important;
}

.highcharts-axis-labels, .highcharts-yaxis-labels{
	color: white !important;
}

.highcharts-contextbutton{
	fill:yellow !important;
}




